.main-content {
  min-height: 100vh;
}

.hero-bg-img {
  background: url(./assets/img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-bg-gradient {
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}